<h1><%= @adjustment.persisted? ? "Edit" : "New" %> Inventory Adjustment</h1>

<%= form_with model: @adjustment, url: (@adjustment.persisted? ? inventory_adjustment_path(@adjustment) : inventory_adjustments_path) do |f| %>
  <% if @adjustment.errors.any? %>
    <div class="ss-errors"><%= @adjustment.errors.full_messages.to_sentence %></div>
  <% end %>

  <div class="ss-field">
    <%= f.label :adjustment_type %>
    <%= f.select :adjustment_type, @adjustment_type_options %>
  </div>

  <div class="ss-field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <%= render "shared/forms/nested_lines",
        f: f,
        association: :inventory_adjustment_lines,
        line_object: InventoryAdjustmentLine.new,
        line_partial: "inventory/adjustments/line_fields",
        store: inventory_store,
        line_locals: { reason_codes: @reason_codes, locations: @locations } %>

  <%= f.submit class: "ss-btn" %>
<% end %>
