<h1>Inventory Reason Codes <%= link_to "New", new_setup_inventory_reason_code_path, class: "ss-btn" %></h1>
<table class="ss-table">
  <thead><tr><th>Key</th><th>Name</th><th>Sort</th><th>Status</th><th></th></tr></thead>
  <tbody>
    <% @reason_codes.each do |reason_code| %>
      <tr>
        <td><%= reason_code.reason_key %></td>
        <td><%= reason_code.name %></td>
        <td><%= reason_code.sort_order %></td>
        <td><%= status_label(reason_code.active?) %></td>
        <td><%= link_to "View", setup_inventory_reason_code_path(reason_code) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
