<h1>Sales Report</h1>
<%= render "shared/ui/button", label: "Export CSV", variant: :secondary, url: sales_pos_reports_path(format: :csv) %>

<table class="ss-table ss-pos-table">
  <thead>
    <tr><th>Number</th><th>Date</th><th>Type</th><th>Total</th></tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.transaction_number, pos_transaction_path(transaction) %></td>
        <td><%= transaction.completed_at %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= pos_money(transaction.total_cents) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
