<h1>Stores <%= link_to "New", new_setup_store_path, class: "ss-btn" %></h1>
<table class="ss-table">
  <thead><tr><th>Number</th><th>Name</th><th>Time Zone</th><th>Status</th><th></th></tr></thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.store_number %></td>
        <td><%= store.name %></td>
        <td><%= store.time_zone %></td>
        <td><span class="<%= status_class(store.active?) %>"><%= status_label(store.active?) %></span></td>
        <td><%= link_to "View", setup_store_path(store) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
