<h1>Merchandise Classes <%= link_to "New", new_setup_merchandise_class_path, class: "ss-btn" %></h1>
<table class="ss-table">
  <thead><tr><th>Key</th><th>Name</th><th>Short Name</th><th>Tax Category</th><th>Status</th><th></th></tr></thead>
  <tbody>
    <% @merchandise_classes.each do |merchandise_class| %>
      <tr>
        <td><%= merchandise_class.merchandise_class_key %></td>
        <td><%= merchandise_class.name %></td>
        <td><%= merchandise_class.short_name %></td>
        <td><%= merchandise_class.default_tax_category.name %></td>
        <td><span class="<%= status_class(merchandise_class.active?) %>"><%= status_label(merchandise_class.active?) %></span></td>
        <td><%= link_to "View", setup_merchandise_class_path(merchandise_class) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
