<h1>Setup</h1>

<div class="ss-card-grid">
  <%= link_to setup_users_path do %><div class="ss-card">Users</div><% end %>
  <%= link_to setup_roles_path do %><div class="ss-card">Roles</div><% end %>
  <%= link_to setup_permissions_path do %><div class="ss-card">Permissions</div><% end %>
  <%= link_to setup_stores_path do %><div class="ss-card">Stores</div><% end %>
  <%= link_to setup_workstations_path do %><div class="ss-card">Workstations</div><% end %>
  <%= link_to setup_audit_events_path do %><div class="ss-card">Audit Events</div><% end %>
</div>
