<%# locals: row %>
<tr>
  <td>
    <strong><%= link_to row.demand_number, row.demand_path %></strong><br>
    <span class="ss-muted"><%= row.customer_name %></span>
  </td>
  <td>
    <%= row.primary_item %><br>
    <span class="ss-muted"><%= row.urgency_label %></span>
  </td>
  <td class="ss-num">
    <%= link_to row.next_action_label, row.demand_path, class: "ss-btn ss-btn-small ss-btn-secondary" %>
  </td>
</tr>
