<table class="ss-table ss-table--compact">
  <thead>
    <tr>
      <th>Request</th>
      <th>Type</th>
      <th class="ss-num">Qty</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% lines.each do |line| %>
      <tr>
        <td><%= link_to line.customer_request.request_number, customers_customer_request_path(line.customer_request) %></td>
        <td><%= line.request_type.tr("_", " ").titleize %></td>
        <td class="ss-num"><%= line.requested_quantity %></td>
        <td><%= line.status.tr("_", " ").titleize %></td>
        <td><%= render "shared/ui/button", label: "View", variant: :link, url: customers_customer_request_path(line.customer_request, anchor: "line-#{line.id}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
