<h1><%= receipt.persisted? ? "Edit" : "New" %> Receipt</h1>

<%= form_with model: receipt, url: (receipt.persisted? ? orders_receipt_path(receipt) : orders_receipts_path) do |f| %>
  <%= render "shared/forms/errors", record: receipt %>

  <div class="ss-field">
    <%= f.label :vendor_id, "Vendor" %>
    <%= f.collection_select :vendor_id, @vendors, :id, :name, include_blank: true %>
  </div>

  <div class="ss-field">
    <%= f.label :purchase_order_id, "Purchase order" %>
    <%= f.collection_select :purchase_order_id, @purchase_orders, :id, :id, include_blank: true %>
  </div>

  <div class="ss-field">
    <%= f.label :receipt_type %>
    <%= f.select :receipt_type, @receipt_type_options %>
  </div>

  <%= render "shared/forms/nested_lines",
        f: f,
        association: :receipt_lines,
        line_object: ReceiptLine.new,
        line_partial: "orders/receipts/line_fields",
        store: orders_store,
        line_locals: { vendor_field_id: "receipt_vendor_id" } %>

  <%= f.submit class: "ss-btn" %>
<% end %>
