<%= form_with model: [:setup, @category_scheme, @category_node], class: "ss-form ss-form--standard" do |f| %>
  <%= render "shared/forms/errors", record: @category_node %>
  <div class="ss-form-grid ss-form-grid--2">
    <%= render layout: "shared/forms/field", locals: { f: f, record: @category_node, field: :node_key, label: "Node key", required: true } do %>
      <%= f.text_field :node_key, maxlength: 30 %>
    <% end %>
    <%= render layout: "shared/forms/field", locals: { f: f, record: @category_node, field: :name, required: true } do %>
      <%= f.text_field :name %>
    <% end %>
    <%= render layout: "shared/forms/field", locals: { f: f, record: @category_node, field: :parent_id, label: "Parent node" } do %>
      <%= f.collection_select :parent_id, @parent_nodes, :id, :name, include_blank: "Top level" %>
    <% end %>
    <%= render layout: "shared/forms/field", locals: { f: f, record: @category_node, field: :sort_order } do %>
      <%= f.number_field :sort_order, min: 0, step: 1 %>
    <% end %>
  </div>
  <%= render "shared/forms/checkbox", f: f, record: @category_node, field: :active %>
  <footer class="ss-form-actions">
    <%= f.submit class: "ss-btn" %>
    <%= link_to "Cancel", setup_category_scheme_category_nodes_path(@category_scheme), class: "ss-btn ss-btn-secondary" %>
  </footer>
<% end %>
