<h1>Permissions</h1>
<table class="ss-table">
  <thead><tr><th>Group</th><th>Key</th><th>Name</th><th>Status</th></tr></thead>
  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.permission_group %></td>
        <td><%= permission.permission_key %></td>
        <td><%= permission.name %></td>
        <td><span class="<%= status_class(permission.active?) %>"><%= status_label(permission.active?) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
