<div class="ss-pos-no-print ss-receipt-actions" data-controller="pos-receipt-print" data-pos-receipt-print-print-url-value="<%= print_pos_receipt_path(receipt) %>">
  <button type="button" class="ss-btn ss-receipt-actions__print" data-action="pos-receipt-print#print">Print</button>

  <div class="ss-receipt-actions__secondary">
    <%= link_to "Summary", pos_transaction_path(transaction), class: "ss-btn ss-btn-secondary" %>
    <%= button_to "New", pos_transactions_path, method: :post, params: { mode: "sale" }, class: "ss-btn ss-btn-secondary" %>
    <%= link_to "Menu", pos_root_path, class: "ss-btn ss-btn-secondary" %>
  </div>
  <%= render "pos/transactions/issuance_slip_links", transaction: transaction %>
</div>
