<div class="ss-receipt-80mm">
  <%= render "pos/receipts/header", store: @transaction.store %>
  <%= render "pos/receipts/meta", receipt: @receipt, transaction: @transaction %>

  <hr class="ss-receipt-rule">

  <%= render "pos/receipts/lines", transaction: @transaction %>

  <hr class="ss-receipt-rule">

  <%= render "pos/receipts/totals", transaction: @transaction %>
  <%= render "pos/receipts/tenders", transaction: @transaction %>
  <%= render "pos/receipts/footer" %>

  <div class="ss-pos-no-print">
    <%= button_to "Reprint", print_pos_receipt_path(@receipt), method: :patch, class: "ss-btn" %>
    <%= link_to "Print", "#", onclick: "window.print(); return false;", class: "ss-btn ss-btn-secondary" %>
  </div>
</div>
