<%= render layout: "shared/forms/section", locals: { title: "Advanced Settings" } do %>
  <div class="ss-form-grid ss-form-grid--2">
    <%= render layout: "shared/forms/field", locals: { f: f, record: variant, field: :short_name, label: "Short name" } do %>
      <%= f.text_field :short_name, maxlength: 40 %>
    <% end %>
    <%= render layout: "shared/forms/field", locals: { f: f, record: variant, field: :inventory_behavior, label: "Inventory behavior" } do %>
      <%= f.select :inventory_behavior, ProductVariant::INVENTORY_BEHAVIORS.map { |b| [humanize_controlled_value(b), b] } %>
    <% end %>
    <%= render layout: "shared/forms/field", locals: { f: f, record: variant, field: :pricing_model_override, label: "Pricing model override" } do %>
      <%= f.select :pricing_model_override, Category::PRICING_MODELS.map { |m| [humanize_controlled_value(m), m] }, include_blank: true %>
    <% end %>
  </div>
  <%= render "shared/forms/checkbox", f: f, record: variant, field: :active %>
<% end %>
