<h1>Edit <%= @workstation.name %></h1>
<%= form_with model: @workstation, url: setup_workstation_path(@workstation), method: :patch, class: "ss-form" do |f| %>
  <%= render "form", f: f, workstation: @workstation, stores: @stores %>
  <%= f.submit "Save", class: "ss-btn" %>
  <%= link_to "Cancel", setup_workstation_path(@workstation), class: "ss-btn ss-btn-secondary" %>
<% end %>
