<h1>Edit <%= @user.display_name %></h1>
<%= form_with model: @user, url: setup_user_path(@user), method: :patch, class: "ss-form" do |f| %>
  <%= render "form", f: f, user: @user, stores: @stores %>
  <%= f.submit "Save", class: "ss-btn" %>
  <%= link_to "Cancel", setup_user_path(@user), class: "ss-btn ss-btn-secondary" %>
<% end %>
