<h1>Users <%= link_to "New", new_setup_user_path, class: "ss-btn" %></h1>

<%= form_with url: setup_users_path, method: :get, class: "ss-form" do %>
  <%= text_field_tag :q, params[:q], placeholder: "Search username" %>
  <%= submit_tag "Search", class: "ss-btn ss-btn-secondary" %>
<% end %>

<table class="ss-table">
  <thead>
    <tr><th>Username</th><th>Name</th><th>Type</th><th>Status</th><th></th></tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.display_name %></td>
        <td><%= user.user_type %></td>
        <td><span class="<%= status_class(user.active?) %>"><%= status_label(user.active?) %></span></td>
        <td><%= link_to "View", setup_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
