<h1>New User</h1>

<%= form_with model: @user, url: setup_users_path, class: "ss-form" do |f| %>
  <%= f.label :username %><%= f.text_field :username %>
  <%= f.label :first_name %><%= f.text_field :first_name %>
  <%= f.label :last_name %><%= f.text_field :last_name %>
  <%= f.label :display_name %><%= f.text_field :display_name %>
  <%= f.label :user_type %><%= f.select :user_type, User::USER_TYPES %>
  <%= f.label :password %><%= password_field_tag "user[password]" %>
  <%= f.submit "Create User", class: "ss-btn" %>
<% end %>
