<h1><%= purchase_request.persisted? ? "Edit" : "New" %> Purchase Request</h1>

<%= form_with model: purchase_request, url: (purchase_request.persisted? ? orders_purchase_request_path(purchase_request) : orders_purchase_requests_path) do |f| %>
  <% if purchase_request.errors.any? %>
    <div class="ss-errors"><%= purchase_request.errors.full_messages.to_sentence %></div>
  <% end %>

  <div class="ss-field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <h2>Lines</h2>
  <%= f.fields_for :purchase_request_lines do |line_form| %>
    <fieldset class="ss-fieldset">
      <div class="ss-field">
        <%= line_form.label :product_variant_id, "Variant ID" %>
        <%= line_form.number_field :product_variant_id %>
      </div>
      <div class="ss-field">
        <%= line_form.label :requested_quantity %>
        <%= line_form.number_field :requested_quantity, min: 1 %>
      </div>
      <div class="ss-field">
        <%= line_form.label :request_reason %>
        <%= line_form.text_field :request_reason %>
      </div>
      <div class="ss-field">
        <%= line_form.label :status %>
        <%= line_form.select :status, @line_status_options %>
      </div>
      <%= line_form.hidden_field :id %>
      <%= line_form.hidden_field :line_number %>
      <%= line_form.check_box :_destroy %> Remove line
    </fieldset>
  <% end %>

  <%= f.submit class: "ss-btn" %>
<% end %>
