<h1>Purchase Requests <%= link_to "New", new_orders_purchase_request_path, class: "ss-btn" %></h1>

<table class="ss-table">
  <thead><tr><th>ID</th><th>Status</th><th>Lines</th><th>Created</th><th></th></tr></thead>
  <tbody>
    <% @purchase_requests.each do |purchase_request| %>
      <tr>
        <td><%= purchase_request.id %></td>
        <td><%= purchase_request.status %></td>
        <td><%= purchase_request.purchase_request_lines.size %></td>
        <td><%= display_time(purchase_request.created_at) %></td>
        <td><%= link_to "View", orders_purchase_request_path(purchase_request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
