<% form_id = "pos_line_edit_form_#{line.id}" %>
<% panel_error = @line_panel_error if defined?(@line_panel_error) && @line_panel_error.present? %>
<% line_editing = pos_cart_line_panel_open?(line, panel_error) %>
<% active_panel = pos_cart_line_active_panel(line, panel_error) %>
<%= render layout: "shared/interaction/expanded_row",
      locals: {
        colspan: 6,
        open: line_editing,
        target: "editRow",
        line_id: line.id,
        keyboard_action: "keyboard-scope:keydown->pos-cart-line#handleKeydown"
      } do %>
  <div class="ss-row-detail ss-pos-line-edit" id="pos_line_edit_<%= line.id %>">
    <% if pos_cart_line_edit_panel_available?(line) %>
      <%= render "pos/transactions/cart_line_edit_panels/edit",
            transaction: transaction,
            line: line,
            form_id: form_id,
            active: active_panel == "edit" %>
    <% end %>

    <% if pos_cart_line_discount_panel_available?(line) &&
          Authorization.allowed?(user: current_user, permission_key: "pos.discounts.line.apply", store: current_store) %>
      <%= render "pos/transactions/cart_line_edit_panels/discount",
            transaction: transaction,
            line: line,
            panel_error: panel_error,
            active: active_panel == "discount" %>
    <% end %>

    <% if pos_cart_line_tax_panel_available?(line) &&
          Authorization.allowed?(user: current_user, permission_key: "pos.tax_overrides.line.apply", store: current_store) %>
      <%= render "pos/transactions/cart_line_edit_panels/tax",
            transaction: transaction,
            line: line,
            active: active_panel == "tax" %>
    <% end %>
  </div>
<% end %>
