<%= render "pos/transactions/register_header", transaction: @transaction %>

<% unless current_register_session %>
  <div class="ss-pos-alert">No register session is open. Complete will be blocked until you <%= link_to "open the register", new_pos_register_session_path %>.</div>
<% end %>

<% if @complete_error.present? %>
  <div class="ss-pos-alert ss-pos-alert--error"><%= @complete_error %></div>
<% end %>

<% if @inactive_warnings.any? && params[:confirm_inactive].blank? %>
  <div class="ss-pos-alert ss-pos-alert--warning">
    Inactive items on this transaction:
    <ul>
      <% @inactive_warnings.each do |warning| %>
        <li><%= warning.message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="ss-pos-layout"
     data-controller="pos-register-workspace pos-transaction-edit pos-cart-line"
     data-pos-register-workspace-initial-action-value="<%= @entry_action %>"
     data-action="pos:authorization-granted@document->pos-transaction-edit#setAuthorizationId">
  <div class="ss-pos-layout__main">
    <%= render "pos/transactions/entry_switch" %>
    <%= render "pos/transactions/scan_entry", transaction: @transaction, entry_action: @entry_action %>
    <%= render "pos/transactions/return_receipt_drawer", transaction: @transaction %>
    <%= render "pos/transactions/open_ring_drawer", transaction: @transaction, sub_departments: @sub_departments %>
    <%= render "pos/transactions/cart", transaction: @transaction %>
  </div>

  <aside class="ss-pos-layout__sidebar">
    <%= render "pos/transactions/sidebar",
          transaction: @transaction,
          readiness: @readiness,
          inactive_warnings: @inactive_warnings %>
  </aside>
</div>
