<%= turbo_stream.update "pos_flash" do %>
  <%= render "pos/transactions/flash" %>
<% end %>

<%= turbo_stream.update "pos_cart" do %>
  <%= render "pos/transactions/cart", transaction: @transaction %>
<% end %>

<%= turbo_stream.update "pos_readiness" do %>
  <%= render "pos/transactions/readiness_panel", transaction: @transaction, readiness: @readiness %>
<% end %>

<%= turbo_stream.update "pos_totals" do %>
  <%= render "pos/transactions/totals_panel", transaction: @transaction %>
<% end %>

<%= turbo_stream.update "pos_adjustments" do %>
  <%= render "pos/transactions/adjustments_panel", transaction: @transaction %>
<% end %>

<%= turbo_stream.update "pos_settlement_actions" do %>
  <%= render "pos/transactions/settlement_actions",
        transaction: @transaction,
        readiness: @readiness,
        inactive_warnings: @inactive_warnings %>
<% end %>

<%= turbo_stream.update "pos_settlement_modal_content" do %>
  <%= render "pos/transactions/settlement_modal_content",
        transaction: @transaction,
        readiness: @readiness,
        inactive_warnings: @inactive_warnings %>
<% end %>

<%= turbo_stream.append "pos_workspace_events" do %>
  <div data-controller="pos-workspace-focus"></div>
<% end %>
