<% if tax_category.errors.any? %>
  <div class="flash flash-alert">
    <%= tax_category.errors.full_messages.to_sentence %>
  </div>
<% end %>

<fieldset class="ss-form-section">
  <legend>Tax category</legend>
  <%= f.label :name %><%= f.text_field :name %>
  <%= f.label :short_name %><%= f.text_field :short_name, maxlength: 20 %>
  <%= f.label :sort_order %><%= f.number_field :sort_order, step: 1 %>
  <%= f.label :active %><%= f.check_box :active %>
</fieldset>
