<h1>Add Product Vendor</h1>
<p><%= @product.name %></p>

<%= form_with model: @product_vendor,
      url: items_product_product_vendors_path(@product) do |f| %>
  <% if params[:return_to] == "from_tbo" %>
    <%= hidden_field_tag :return_to, "from_tbo" %>
    <%= hidden_field_tag :from_tbo_view, params[:from_tbo_view] %>
    <%= hidden_field_tag :from_tbo_vendor_id, params[:from_tbo_vendor_id] %>
    <%= hidden_field_tag :from_tbo_sourced_only, params[:from_tbo_sourced_only] %>
    <%= hidden_field_tag :from_tbo_department_id, params[:from_tbo_department_id] %>
    <%= hidden_field_tag :from_tbo_format_id, params[:from_tbo_format_id] %>
  <% end %>
  <%= render "shared/forms/product_vendor_fields",
        f: f,
        product_vendor: @product_vendor,
        lock_product: true %>
  <%= f.submit class: "ss-btn" %>
  <%= link_to "Cancel",
        Items::ReturnPath.for(
          record: @product,
          return_to: params[:return_to].presence || "item",
          tab: params[:return_to] == "from_tbo" ? nil : "item_setup",
          anchor: params[:return_to] == "from_tbo" ? nil : "vendor-sourcing",
          from_tbo_filters: {
            view: params[:from_tbo_view],
            vendor_id: params[:from_tbo_vendor_id],
            sourced_only: params[:from_tbo_sourced_only],
            department_id: params[:from_tbo_department_id],
            format_id: params[:from_tbo_format_id]
          }.compact
        ) %>
<% end %>
