<% if @landing.status.in?(%i[conflict legacy_found]) %>
  <%= render "pos/workspace/conflict_picker" %>
<% else %>
  <%= render "pos/workspace/idle_shell" %>
<% end %>

<div class="ss-pos-home__footer">
  <div class="ss-pos-home__footer-column">
    <%= render "session_summary" %>
  </div>
  <div class="ss-pos-home__footer-column ss-pos-home__queues">
    <%= render "suspended_queue" %>
    <%= render "draft_queue" %>
  </div>
</div>
