<%= render layout: "shared/forms/section", locals: { title: "Format & Metadata" } do %>
  <div class="ss-form-grid ss-form-grid--2">
    <% if entry_context.visible?(:format) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :format_id, label: "Format", required: entry_context.required?(:format) } do %>
        <%= f.collection_select :format_id, entry_context.eligible_formats, :id, :name, { include_blank: "Select format" },
              data: { product_metadata_form_target: "format" } %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:publisher) %>
      <%= render layout: "shared/forms/field",
            locals: { f: f, record: record, field: :publisher, label: entry_context.field_labels[:publisher] } do %>
        <%= f.text_field :publisher %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:publication_status) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :publication_status } do %>
        <%= f.select :publication_status, ProductMetadata::PUBLICATION_STATUSES.map { |s| [humanize_controlled_value(s), s] } %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:publication_date) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :publication_date } do %>
        <%= f.date_field :publication_date %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:edition_statement) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :edition_statement } do %>
        <%= f.text_field :edition_statement %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:year) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :year, label: "Calendar year", required: entry_context.required?(:year) } do %>
        <%= f.text_field :year, maxlength: 4 %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:page_count) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :page_count } do %>
        <%= f.number_field :page_count %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:running_time) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :duration_minutes, label: "Running time (minutes)" } do %>
        <%= f.number_field :duration_minutes %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:large_print) %>
      <%= render "shared/forms/checkbox", f: f, record: record, field: :large_print %>
    <% end %>
    <% if entry_context.visible?(:language) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :language_code, label: "Language" } do %>
        <%= f.text_field :language_code, maxlength: 10 %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:series_name) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :series_name } do %>
        <%= f.text_field :series_name %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:series_name) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :series_enumeration } do %>
        <%= f.text_field :series_enumeration, maxlength: 15 %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:periodical_metadata) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :publication_frequency } do %>
        <%= f.select :publication_frequency, ProductMetadata::PUBLICATION_FREQUENCIES.map { |v| [humanize_controlled_value(v), v] }, include_blank: true %>
      <% end %>
    <% end %>
    <% if entry_context.visible?(:description) %>
      <%= render layout: "shared/forms/field", locals: { f: f, record: record, field: :description } do %>
        <%= f.text_area :description, rows: 4 %>
      <% end %>
    <% end %>
  </div>
<% end %>
