<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ShelfStack" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <%= tag.body(**shelfstack_appearance_attributes) do %>
    <%= render "layouts/header" %>
    <%= render "layouts/nav" %>
    <main class="ss-main">
      <% if flash[:notice] %><div class="flash flash-notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:warning] %><div class="flash flash-warning"><%= flash[:warning] %></div><% end %>
      <% if flash[:alert] %><div class="flash flash-alert"><%= flash[:alert] %></div><% end %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
    <%= render "shared/interaction/toast_region" %>
    <div id="modal_close_triggers" aria-hidden="true"></div>
    <div id="demand_form_reset_triggers" aria-hidden="true"></div>
  <% end %>
</html>
